{
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "releaseRules": [
          {
            "release": "patch"
          }
        ]
      }
    ],
    "@semantic-release/npm"
  ]
}